<div class="container custom-margin align-items-center">
    <ul class="list-group">
        <li class="list-group-item bg-secondary bg-opacity-50 border-0">
            <p class="fs-2 fw-bold text-decoration-underline text-white">
                Изменить юридическое лицо:
            </p>
        </li>
        <li class="list-group-item  border-2 border-black border-top-0">
            <form action="/edit_yr/{{data.pk}}" method="POST">
                <input type="text" name="name" placeholder="Наименование организации" class="form-control custom-margin" value="{{data.name}}">
                <input type="text" name="inn" placeholder="ИНН" class="form-control custom-margin" value="{{data.inn}}">
                <input type="text" name="ogrn" placeholder="ОГРН" class="form-control custom-margin" value="{{data.ogrn}}">
                <input type="text" name="adrreg" placeholder="Адрес регистрации" class="form-control custom-margin" value="{{data.adr}}">
                
                <textarea class="form-control custom-margin" name="kontinfo" aria-label="With textarea" placeholder="Контактная информация" rows="7">{{data.info}}</textarea>
                
                <div>
                    <p class="fs-2 fw-bold"></p>
                    <button type="submit" class="btn btn-warning">Подтвердить</button>
                </div>
            </form>
        </li>
    </ul>
</div>
